<!-- <app-sequential-predict></app-sequential-predict> -->
<!-- <app-load-format-visualize></app-load-format-visualize> -->
<!-- <app-single-layer-neural></app-single-layer-neural> -->
<!-- <app-preparing-data></app-preparing-data> -->
<!-- <app-train-the-model></app-train-the-model> -->

<!-- <nav>
    <li>
        <a [routerLink]="'2d'">Train MPG-Horsepower</a>
    </li>
    <li>
        <a [routerLink]="'handwritting'">Handwritting</a>
    </li>
</nav> -->

<!-- <router-outlet></router-outlet> -->

<app-hand-writting></app-hand-writting>